<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401675165745-oes7qrup9ulji8gu91qfveme7u3u5v2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401675165745-oes7qrup9ulji8gu91qfveme7u3u5v2v</string>
	<key>API_KEY</key>
	<string>AIzaSyBwWXdLdo4_6ADJoy6wiGtLo9E81_e4-Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>401675165745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete</string>
	<key>PROJECT_ID</key>
	<string>playground-20240324</string>
	<key>STORAGE_BUCKET</key>
	<string>playground-20240324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401675165745:ios:6c4e10b28db2cbc44c3510</string>
</dict>
</plist>